{
    "arrowParens": "always",
    "printWidth": 80,
    "quoteProps": "consistent",
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "importOrder": ["^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "overrides": [
      {
        "files": ".prettierrc",
        "options": {
          "parser": "json"
        }
      }
    ]
  }