@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
  background: #fff;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

#nprogress .peg {
}

@layer utilities {
  .content {
    @apply px-4;
    @apply mx-auto;
    @apply max-w-prose;
    @apply prose;
    @apply prose-blue;
    @apply prose-sm;
    @apply text-white;
    /* @apply md:prose-md; */
  }

  .container {
    @apply bg-white;
    @apply bg-opacity-10;
    padding: 32px 20px;
    border-radius: 12px;

    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }
}
