@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
  background: #fff;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

#nprogress .peg {
}

@layer utilities {
  .container {
    @apply bg-white;
    @apply bg-opacity-10;
    border-radius: 12px;

    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }

  .link {
    @apply text-blue-600;
    @apply font-semibold;
    @apply cursor-pointer;
    @apply hover:text-blue-800;
    @apply transition-all;
    @apply duration-200;
    @apply ease-in-out;
  }

  .container-padding {
    @apply p-4;
    @apply lg:p-8;
  }

  .container-title {
    @apply text-xl;
    @apply lg:text-3xl;
  }

  .container-text {
    @apply text-sm;
    @apply leading-6;
    @apply lg:text-lg;
    @apply lg:leading-8;
  }

  .container-text-sm {
    @apply text-xs;
    @apply leading-4;
    @apply lg:text-base;
    @apply lg:leading-6;
  }

  .section-start {
    @apply mt-8;
    @apply lg:mt-32;
  }

  .section-title {
    @apply text-xl;
    @apply mb-8;
    @apply lg:text-4xl;
    @apply lg:mb-12;
  }

  .grid-1-lg-3 {
    @apply grid;
    @apply grid-cols-1;
    @apply gap-4;
    @apply lg:grid-cols-3;
    @apply lg:gap-8;
  }

  .grid-1-lg-4 {
    @apply grid;
    @apply grid-cols-1;
    @apply gap-8;
    @apply lg:grid-cols-4;
    @apply lg:gap-32;
  }

  .grid-2-lg-4 {
    @apply grid;
    @apply grid-cols-2;
    @apply gap-4;
    @apply lg:grid-cols-4;
    @apply lg:gap-x-16;
    @apply lg:gap-y-8;
  }

  .grid-1-lg-2 {
    @apply grid;
    @apply grid-cols-1;
    @apply gap-8;
    @apply lg:grid-cols-2;
    @apply lg:gap-16;
  }
}
