@import '../../theme.less';

.home_wrap {
  display: flex;
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  justify-items: center;
  justify-content: center;
}

.home_bg {
  @keyframes heartbeat {
    0% {
      width: 100%;
      height: 100%;
    }
    50% {
      width: 105%;
      height: 105%;
    }
    100% {
      width: 100%;
      height: 100%;
    }
  }

  height: 100%;
  width: 100%;
  position: fixed;
  background: radial-gradient(
    circle,
    #0b0b0b 29%,
    #111111 56%,
    #121212 58%,
    #080808 63%,
    #0b0b0b 66%,
    #0f0f0f 68%,
    #111111 70%,
    #171717 74%,
    #2d2d2d 76%,
    #000000 80%
  );

  animation: heartbeat 1s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.home_logo {
}

.home_content {
  position: fixed;
  width: 40%;
  height: 40%;
  top: 30%;
}

.home_title {
  font-family: PTMono-Regular;
  font-size: 3rem;
  color: @primary-color;
  letter-spacing: 0.38px;
  text-align: center;
  padding-top: 3.9%;
  margin: 0 auto;
  z-index: 0;
}

.home_intro {
  position: fixed;
  bottom: 8%;
  left: 4%;
  width: 30rem;
  opacity: 0.92;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.93);
  letter-spacing: -0.45px;
}

.home_nav {
  position: fixed;
  right: 5%;
  top: 40%;

  &_item {
    opacity: 0.65;
    font-family: PTMono-Regular;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.93);
    letter-spacing: -0.45px;
    text-align: center;
  }
}
