@import '../../theme.less';

.home_wrap {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0);
  height: 100vh;
  width: 100vw;
  justify-items: left;
  justify-content: center;
  color: #ffffff;
  overflow-x: hidden;
  overflow-y: hidden;
}

// .home_bg {
//   position: fixed;
//   left: 0;
//   height: 100%;
//   width: 80%;

//   background: url('../../assets/background.svg');
//   background-size: 90%;
//   background-repeat: no-repeat;
//   background-position-x: 30%;
//   background-position-y: 30%;

//   @keyframes bg_animation {
//     0% {
//       opacity: 0.5;
//     }

//     25% {
//       opacity: 0.4;
//     }

//     50% {
//       opacity: 0.5;
//     }

//     75% {
//       opacity: 0.6;
//     }

//     100% {
//       opacity: 0.5;
//     }
//   }
//   transition: all 0.1s;
//   animation: bg_animation 1s infinite ease-in-out;
// }

.home_header {
  height: 8vh;
  padding: 2vh 4vw;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 10;

  &:hover {
    cursor: pointer;
  }
}

.home_title {
  padding-left: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 1.5vh;

  &_divider {
    color: @primary-color;
  }
}

.home_logo img {
  height: 4vh;
}

.home_content {
  display: flex;
  flex-direction: row;
  width: 75vw;
  height: 84vh;
  margin-left: 25vw;
  justify-content: space-between;
}

.home_nav {
  z-index: 1;
  position: relative;
  margin-top: 10vh;
  &_item {
    margin: 2vh 0;
    transition: text-stroke 0.1s;
    font-size: 4.5vh;
    color: #ffffff;
    cursor: pointer;

    &:hover {
      color: #000000;
      text-stroke: 1px #ffffff;
      -webkit-text-stroke: 1px #ffffff;
    }
  }
}

.home_intro {
  margin-top: 15vh;
  padding-left: 20vw;
  color: #aaaaaa;
  width: 50vw;
  font-size: 1.2vh;
  line-height: 2vh;
}

.home_info {
  text-align: right;
  padding: 0 4rem;
  height: 8vh;
  color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 1024px) {
  .home_wrap {
    display: flex;
    flex-direction: column;
    height: unset;
  }

  .home_header {
    display: flex;
    flex-direction: column;
    height: 14vh;
  }

  .home_logo img {
    height: 5vmin;
    margin-bottom: 1rem;
  }

  .home_title {
    font-size: 2vmin;
    text-align: center;
  }

  .home_content {
    height: unset;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .home_nav {
    margin: 2vh 0;
    align-items: center;

    &_item {
      text-align: center;
      margin: auto;
      font-size: 6vmin;
      line-height: 10vmin;
    }
  }

  .home_intro {
    font-size: 2rem;
    line-height: 3rem;
    margin: 4vh 0;
    padding: 0;
    width: 75vw;
  }

  .home_info {
    font-size: 1rem;
    text-align: center;
  }
}

.home_start {
  display: none;
}