@import '../../theme.less';

.home_wrap {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0);
  height: 100vh;
  width: 100vw;
  justify-items: left;
  justify-content: center;
  color: #ffffff;
  overflow-x: hidden;
  overflow-y: hidden;
}

.home_bg {
  position: fixed;
  left: 0;
  height: 100%;
  width: 80%;
  
  background: url('../../assets/background.svg');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position-x: 30%;
  background-position-y: 30%;

  @keyframes bg_animation {
    0% {
      opacity: 0.5;
    }

    25% {
      opacity: 0.4;
    }

    50% {
      opacity: 0.5;
    }

    75% {
      opacity: 0.6;
    }

    100% {
      opacity: 0.5;
    }
  }
  transition: all 0.1s;
  animation: bg_animation 1s infinite ease-in-out;
}

.home_header {
  height: 8rem;
  padding: 2rem 4rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.home_title {
  padding-left: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;

  &_divider {
    color: @primary-color;
  }
}

.home_logo img {
  height: 4rem;
}

.home_content {
  display: flex;
  flex-direction: column;
  width: 1024px;
  height: (100vh - 16rem);
  margin: 0 auto;
}

.home_nav {
  z-index: 1;
  position: relative;
  margin-top: 4vmin;
  &_item {
    margin: 1.5rem 0;
    transition: text-stroke 0.1s;
    font-size: 6vmin;
    color: #ffffff;

    &:hover {
      color: #000000;
      text-stroke: 1px #ffffff;
      -webkit-text-stroke: 1px #ffffff;
    }
  }
}

.home_intro {
  color: #ffffff;

  &_title {
  }

  &_content {
  }
}

.home_info {
  text-align: right;
  padding: 0 4rem;
  height: 8rem;
  color: #ffffff;
  opacity: 30%;
}
