.layout {
    background: #000000;
}

.footer {
    padding: 3rem;
    background: #000000;

    color: #EAEAEA;
}

.content {
    margin: 3rem;
    background: #000000;

    color: #fafafa;
}

.header {
    background: #ffffff;
}