.layout {
  background: #000000;
}

.footer {
  padding: 3rem;
  background: #000000;

  color: #eaeaea;
}

.content {
  margin: 3rem;
  background: #000000;

  color: #fafafa;
}

.header {
  background: #222222;

  :global {
    .ant-menu-item a {
      color: #ffffff;
    }

    .ant-menu {
      background: #222222;
      color: #ffffff;

      &-horizontal {
        border-bottom: 0;
      }
    }
  }
}
